<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feed</title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        
        <!-- Header Section -->
        <header>
            <div class="navbar bg-base-100 shadow-sm">
                <div class="flex-1">
                <!-- Name or Logo -->
                <a href="/feed" class="btn btn-ghost text-xl">Ventura Connect</a>
                </div>
                <div class="flex-none">

                    <!-- Header avatar -->
                    <% if ( user.profileImage ) {%>
                        <div class="avatar p-2">
                            <div class="w-10 rounded-full mx-auto">
                                <img src="<%= user.profileImage %>" />
                            </div>
                        </div>
                    <%} else {%>
                        <div class="avatar avatar-placeholder p-2">
                            <div class="bg-neutral text-neutral-content w-10 rounded-full mx-auto">
                                <span class="text-3xl"><%= user.userName[0].split(' ').map(word => word.charAt(0).toUpperCase()).join(' ') %></span>
                            </div>
                        </div>
                    <%}%>

                <ul class="menu menu-horizontal px-1">
                    <li><a href="/profile/<%=user._id%>">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                </div>
            </div>
        </header>

        <!-- Main Section -->
        <div class="flex flex-wrap justify-evenly min-h-125">
            <div class="w-3/4 sm:w-2/3 pt-4">
                <details class="w-full md:w-3/4 mx-auto grow-1 px-2">
                    <summary class="mx-auto text-center">Add a post</summary>
                    <fieldset class="fieldset w-full grow-2 bg-base-200 border border-base-300 p-4 rounded-box mx-auto">
                        <form action="/feed/createPost" enctype="multipart/form-data" method="POST">
                            <div class="flex flex-wrap md:justify-center">
                                <div class="w-full">
                                    <label for="title" class="fieldset-label">Title</label>
                                    <input type="text" name="title" id="title" class="input w-full">
                                </div>
                                <div class="w-full">
                                    <label for="caption" class="fieldset-label">Caption</label>
                                    <textarea name="caption" id="caption"  class="input pt-2 w-full"></textarea>
                                </div>
                                <div class="md:w-full w-2/3">
                                    <label for="imageUpload" class="fieldset-legend">Image</label>
                                    <input type="file" name="file" id="imageUpload" class="file-input w-full">
                                </div>
                                <div class="w-1/3 pt-7 md:pt-4 flex justify-end">
                                    <button type="submit" class="btn btn-neutral">Post</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </details>
                
                <ul>
                <% for(var i = 0; i < posts.length; i++) { %>
                    <li class="card bg-base-100 shadow-sm mb-4 w-9/10 lg:w-2/3 mx-auto" id="<%= posts[i]._id%>">

                        <!-- Avatar of users with profile photo each post -->
                        <% if ( posts[i].user.profileImage ) {%>
                            <div class="flex justify-between">
                                <div class="avatar w-1/2 m-2">
                                    <div class="w-12 rounded-full">
                                        <a href="/profile/<%= posts[i].user._id%>">
                                            <img src="<%= posts[i].user.profileImage %>" />
                                        </a>
                                    </div>    
                                    <h2 class="card-title justify-self-end py-2 pl-5">
                                        <a href="/profile/<%= posts[i].user._id%>">
                                            <%=posts[i].userName.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')%>
                                        </a>
                                    </h2>
                                </div>
                                <div class="mt-3 mr-2">
                                <!-- for follow and unfollow button -->

                                <!-- show the follow/unfollow button when its not the users own posts -->
                                <% if ( posts[i].user._id.toString() !== user.id.toString() ) { %>
                                    <% if ( user.followingId.length == 0 ) {%>

                                        <!-- this does not works too  if ( accountUser[0].followerId !== user.id ) -->
                                        <!-- this does not work (!accountUser[0].followerId) -->
                                        
                                        <form action="/feed/followUser/<%=posts[i].user._id%>?_method=PUT" method="POST" >
                                            <button class="btn btn-soft btn-primary w-full" type="submit" id="<%=posts[i].user._id%>">Follow</button>
                                        </form>

                                    <% } else { %>

                                        <% let isFollowing = false %>
                                        <% for ( var j = 0; j < user.followingId.length; j++) { %>
                                            <% if ( user.followingId[j].toString() == posts[i].user._id.toString() ) { %>
                                                <%isFollowing = true%>
                                                <%break%>
                                            <%}%>
                                        <%}%>

                                        <% if ( isFollowing ) {%>
                                            <form action="/feed/unfollowUser/<%=posts[i].user._id%>?_method=PUT" method="POST" >
                                                <button class="btn btn-soft btn-primary w-full" type="submit" id="<%=posts[i].user._id%>">Unfollow</button>
                                            </form>                                        
                                        <% } else { %>            
                                            <form action="/feed/followUser/<%=posts[i].user._id%>?_method=PUT" method="POST" >
                                                <button class="btn btn-soft btn-primary w-full" type="submit" id="<%=posts[i].user._id%>">Follow</button>
                                            </form>                
                                        <% } %>

                                    <%}%>
                                <%}%>
                                </div>
                            </div>
                        <%} else {%>
                        <!-- for users without avatar -->
                            <div class="flex justify-between">
                                <div class="avatar avatar-placeholder w-full m-2">
                                    <div class="bg-neutral text-neutral-content w-12 rounded-full ">
                                        <a href="/profile/<%= posts[i].user._id%>">
                                            <span class="text-3xl"><%= posts[i].userName.split(' ').map(word => word.charAt(0).toUpperCase()).join(' ') %></span>
                                        </a>
                                    </div>
                                    <a href="/profile/<%= posts[i].user._id%>">
                                        <h2 class="card-title justify-self-end py-2 pl-5"><%=posts[i].userName.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')%></h2>
                                    </a>
                                </div>
                                <div>
                                    <div class="mt-3 mr-2">
                                        <!-- show the follow/unfollow button when its not the users own posts -->
                                        <% if ( posts[i].user._id.toString() !== user.id.toString() ) { %>

                                            <% if ( user.followingId.length == 0 ) {%>
                                            <!-- this does not works too  if ( accountUser[0].followerId !== user.id ) -->
                                            <!-- this does not work (!accountUser[0].followerId) -->

                                                <form action="/feed/followUser/<%=posts[i].user._id%>?_method=PUT" method="POST" >
                                                    <button class="btn btn-soft btn-primary w-full" type="submit" id="<%=posts[i].user._id%>">Follow</button>
                                                </form>
                                        
                                            <% } else { %>

                                                <% let isFollowing = false %>
                                                <% for ( var j = 0; j < user.followingId.length; j++) { %>
                                                    <% if ( user.followingId[j].toString() == posts[i].user._id.toString() ) { %>
                                                        <%isFollowing = true%>
                                                        <%break%>
                                                    <%}%>
                                                <%}%>

                                                <% if ( isFollowing ) {%>
                                                    <form action="/feed/unfollowUser/<%=posts[i].user._id%>?_method=PUT" method="POST" >
                                                        <button class="btn btn-soft btn-primary w-full" type="submit" id="<%=posts[i].user._id%>">Unfollow</button>
                                                    </form>    
                                                <% } else { %>
                                                    <form action="/feed/followUser/<%=posts[i].user._id%>?_method=PUT" method="POST" >
                                                        <button class="btn btn-soft btn-primary w-full" type="submit" id="<%=posts[i].user._id%>">Follow</button>
                                                    </form>
                                                <% } %>
                                            <% } %>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        <%}%>

                        <figure>
                            <a href="/post/<%= posts[i]._id%>">
                                <img src="<%= posts[i].image%>"/>
                            </a>
                        </figure>
                        <div class="card-body">
                            <div class="flex flex-wrap">
                                <div class="w-1/2">
                                    <h2 class="card-title"><%=posts[i].title%></h2>
                                    <p><%=posts[i].caption%></p>
                                </div>
                                <div class="w-1/2">
                                    <div class="card-actions justify-end">
                                        <h3 class="pt-2">Likes: <%= posts[i].likes %></h3>
                                        <!-- Like and Unlike Button -->
                                        <% if ( user.likedPostId.includes(posts[i]._id)) {%>
                                            <form action="/feed/minusLike/<%= posts[i]._id %>?_method=PUT" method="POST">
                                                <button type="submit" class="btn btn-primary">Unlike</button>
                                            </form>
                                        <%} else {%>
                                                <form action="/feed/likePost/<%= posts[i]._id %>?_method=PUT" method="POST">
                                                    <button type="submit" class="btn btn-primary">Like</button>
                                                </form>
                                        <%}%>
                                        <!-- Delete Button if you're the user -->
                                        <% if ( posts[i].user == user.id ) { %>
                                            <form action="/feed/deletePost/<%= posts[i]._id %>?_method=DELETE" method="POST">
                                                <button type="submit" class="btn btn-primary">Delete</button>
                                            </form>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                                
                            <h2 class="pt-4">Comments</h2>
                            
                            <!-- Comments Form -->
                            <form action="/feed/comments/<%= posts[i]._id %>" method="POST">
                                <input type="text" class="w-full mb-2 pl-1" name="comment" placeholder="write comments here...">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                                            
                            <!-- List of Comments on the post -->
                            <ul>
                            <% let postComments = comments.filter( comment => comment.postId.toString() === posts[i]._id.toString() ) %>
                            <% postComments.forEach(comment=> { %>
                                <li class="flex">

                                <!-- Avatar of each comment -->
                                    <% if ( comment.commentUser.profileImage ) {%>
                                        <!-- For comments with avatar -->
                                        <div class="w-1/8">
                                            <div class="avatar w-full my-5">
                                                <div class="w-12 rounded-full mx-auto">
                                                    <a href="/profile/<%= comment.commentUser._id%>">
                                                        <img src="<%= comment.commentUser.profileImage %>" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    <%} else {%>
                                    <!-- for comments without avatar -->
                                        <div class="w-1/8">
                                            <a href="/profile/<%= comment.commentUser._id%>">
                                                <div class="avatar avatar-placeholder w-full my-5">
                                                    <div class="bg-neutral text-neutral-content w-12 rounded-full mx-auto">
                                                        <span class="text-3xl"><%= comment.commentUser.userName.split(' ').map(word => word.charAt(0).toUpperCase()).join(' ') %></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    <%}%>

                                    <!-- Comment Username and message -->
                                    <div class="card bg-base-100 w-7/8 shadow-sm">
                                        <div class="card-body">
                                            <p><strong><%= comment.commentUserName.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %></strong><p>
                                            <span><%= comment.comment %></span>
                                        </div>
                                    </div>
                                </li>    
                            <%})%>
                            </ul>
                        </div>
                    </li>
                <% } %>
                </ul>
            </div>

            <!-- Right Section/Div -->
            <div class="w-1/4 sm:w-1/3 px-1">

                <h3 class="text-xs sm:text-base text-center pt-4"><strong>Recommended people</strong></h3>
                <div class="card w-full bg-base-96 card-xs shadow-sm">
                    <div class="card-body">
                    <ul class="flex flex-wrap justify-center">
                    <% for ( var i = 0; i < allUsers.length; i++) { %>
                        <% if ( !user.followingId.includes(allUsers[i]._id) && allUsers[i]._id.toString() !== user.id) { %>
                            <% if ( allUsers[i].profileImage ) { %>
                                <li>   
                                    <div class="avatar w-full p-2">
                                        <div class="w-16 rounded-full">
                                            <a href="/profile/<%= allUsers[i]._id %>">
                                                <img src="<%= allUsers[i].profileImage %>" />
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            <% } else { %>
                                <li>
                                    <div class="avatar avatar-placeholder w-full p-2">
                                        <div class="bg-neutral text-neutral-content w-16 rounded-full">
                                            <a href="/profile/<%= allUsers[i]._id %>">
                                                <span class="text-3xl"><%= allUsers[i].userName.split(' ').map(word => word.charAt(0).toUpperCase()) %></span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                        <%}%>
                    <%}%>
                    </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- Footer -->
        <footer class="footer sm:footer-horizontal bg-neutral text-neutral-content items-center p-4">
            <aside class="grid-flow-col items-center">
            <svg
                width="36"
                height="36"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                fill-rule="evenodd"
                clip-rule="evenodd"
                class="fill-current">
                <path
                d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path>
            </svg>
            <p>Copyright © 2025 - All right reserved</p>
            </aside>
        </footer>

    </body>
</html>